.contact_us{
    border: 10px solid black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.group-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#contact_us {
    background-image: url(img/contact_us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    height: calc(100vh - 100px);
    padding-top: 100px;
}

.formulario {
    margin-left: 10%;
    width: 600px;
    background-color: #333333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

#button {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background-color: #FFA500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
}

input[type="submit"]:hover {
    width: 60%;
    background: linear-gradient(to right, #FFA500, #FFD700);

}

#title-contact_us {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}


@media only screen and (max-width: 1400px) {
    
    #contact_us {
        width: 100%;
        justify-content: center;
    }

    .formulario {
        width: 40%;
        margin-left: 0;
        height: 400px;
    }

    input[type="text"], input[type="email"], textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 30px;
    }
}

@media only screen and (max-width: 900px) {
    
    #contact_us {
        width: 100%;
        justify-content: center;
    }

    .formulario {
        width: 50%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 700px) {
    
    #contact_us {
        width: 100%;
        justify-content: center;
    }

    .formulario {
        width: 60%;
        margin-left: 0;
    }
}

@media (max-width: 500px) {

    .formulario {
        width: 80%;
        height: 400px;
    }

    input[type="text"], input[type="email"], textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 30px;
    }

    
}

@media (max-width: 300px) {

    .formulario {
        width: 80%;
        height: 400px;
        margin-bottom: 20px;
    }

    input[type="text"], input[type="email"], textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 30px;
    }

    
}